html, body, .content, #main-content { 
	height:100%; 
	width:100%;
	overflow-x: hidden;
}
/* ======= Scroll Bar ======== */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	background-color: #2979FF;
	border: 1px solid #448AFF;
}
/* ======= Scroll Bar ======== */

.content{
	position: relative;
}
#map{
	height:100%; 
	width:100%;
}
.form-row{
	margin-bottom: 10px !important;
}
/* ============================== Tab sebelah kiri =============== */
.left-bar{
	height: 100%;
	width: 20%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #ffffff;
	box-shadow: 10px 10px 30px grey;
	overflow: auto;
}

.left-bar-title{
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
}

#left-bar-btn-close{
	border: none !important;
}

.form-container{
	margin: 70px 30px;
	/* padding-bottom: 50px; */
}

#btn-save-road-info{
	width: inherit;
	height: 50px !important;
	position: fixed;
	bottom: 0;
	border: none !important;
	border-radius: 0px !important;
}
/* ============================== Tab sebelah kiri =============== */

/* ============================== Tab sebelah kanan =============== */
.right-bar{
	height: 50%;
	width: 30%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}

#right-bar-btn-add{
	border-radius: 500px !important;
	transition: width .5s;
	
}
/* ============================== Tab sebelah kanan =============== */

.btn-bar{
	text-align: center;
	height: 50px;
	width: 50px;
	min-width: 50px;
	position: absolute;
	right: 0;
	opacity: 1;
}


/* ====================================== ANIMATION =========================== */
/* ============================================================================ */
.slide-enter-active , .slide-leave-active {
	transition: left .5s;
}
.slide-enter, .slide-leave-to {
	left: -20%;
}

#right-bar-btn-add:hover {
	width: 180px;
}
/* ====================================== ANIMATION =========================== */
